HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Resend email integration
# RESEND_API_KEY=
# EMAIL_FROM_ADDRESS=notifications@example.com
# EMAIL_FROM_NAME="Your Company Name"
# ADMIN_NOTIFICATION_EMAIL=admin@example.com
